<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Rut" %><br>
    <%= f.text_field :rut ,:class=> 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :first_name ,:class=> 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label "Apellidos" %><br>
    <%= f.text_field :last_name,:class=> 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Dirección" %><br>
    <%= f.text_field :address,:class=> 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Region" %><br>
    <%= f.text_field :region,:class=> 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Ciudad" %><br>
    <%= f.text_field :city,:class=> 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Código Postal" %><br>
    <%= f.text_field :postal_code ,:class=> 'form-control'%>
  </div>
  <%= f.submit 'Guardar Cliente', :class => 'btn btn-success' %>

  <br>
<% end %>
