<h1>
  <i class="fa fa-users"></i>
  Editar Cliente</h1>
<hr>
<%= render 'form' %>

<%= link_to 'Ver', @cliente, :class=> 'btn btn-default'  %> |
<%= link_to 'Volver', clientes_path,:class=> 'btn btn-default'  %>
