<p id="notice"><%= notice %></p>

<h1><i class="fa fa-users"></i>
 Clientes
<%= link_to 'Nuevo Cliente', new_cliente_path, :class=> 'btn btn-default text-right' %>
</h1>
<hr>

<div class="panel panel-default">
  <div class="panel-heading">

    <%= search_form_for @search do |f| %>
      <div class="input-group">
          <%= f.text_field :rut_or_first_name_or_last_name_cont, :class=>"form-control", :placeholder=>"Ingrese termino de busqueda y presione ENTER" %>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    <% end %>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rut</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Dirección</th>
          <th>Region</th>
          <th>Ciudad</th>
          <th>Codigo Postal</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @clientes.each do |cliente| %>
          <tr>
            <td><%= cliente.rut %></td>
            <td><%= cliente.first_name %></td>
            <td><%= cliente.last_name %></td>
            <td><%= cliente.address %></td>
            <td><%= cliente.region %></td>
            <td><%= cliente.city %></td>
            <td><%= cliente.postal_code %></td>
            <td>
              <div class="btn-group">
                <%= link_to '', cliente , :class =>"btn btn-default btn-sm fa fa-eye" %>
                <%= link_to '', edit_cliente_path(cliente), :class =>"btn btn-warning btn-sm fa fa-pencil"%>
                <%= link_to '', cliente, method: :delete, data: { confirm: 'Estas Seguro?' }, :class =>"btn btn-danger btn-sm fa fa-trash" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @clientes, renderer: BootstrapPagination::Rails %>
    <br>
  </div>
</div>
