<p id="notice"><%= notice %></p>

<div class="well">
  <p>
    <strong>Rut:</strong>
    <%= @cliente.rut %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= @cliente.first_name %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= @cliente.last_name %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= @cliente.address %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= @cliente.region %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= @cliente.city %>
  </p>

  <p>
    <strong>Código Postal:</strong>
    <%= @cliente.postal_code %>
  </p>
</div>
<div class="well">
  <%= link_to 'Editar', edit_cliente_path(@cliente), :class=>"btn btn-default" %> |
  <%= link_to 'Volver', clientes_path, :class=>"btn btn-default" %>
</div>
