<h1><i class="fa fa-bullhorn"></i>
 Editar Evento
</h1>

<%= render 'form' %>

<%= link_to 'Ver', @event, :class=> 'btn btn-default' %> |
<%= link_to 'Volver', events_path , :class=> 'btn btn-default'%>
