<p id="notice"><%= notice %></p>

<h1><i class="fa fa-bullhorn"></i>
 Eventos
 <%= link_to 'Nuevo Evento', new_event_path, :class=> 'btn btn-default text-right' %> <br>
</h1>

<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= search_form_for @search do |f| %>
      <div class="input-group">
        <%= f.text_field :name_cont, :class=>"form-control",:name=>"Search", :placeholder=>"Ingrese termino de busqueda y presione ENTER" %>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    <% end %>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre del Evento</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td>
              <div class="btn-group">
                <%= link_to '', event , :class =>"btn btn-default btn-sm fa fa-eye" %>
                <%= link_to '', edit_event_path(event), :class =>"btn btn-warning btn-sm fa fa-pencil"%>
                <%= link_to '', event, method: :delete, data: { confirm: 'Estas Seguro?' }, :class =>"btn btn-danger btn-sm fa fa-trash" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
