<p id="notice"><%= notice %></p>

<div class="well">
  <p>
    <strong>Nombre del Evento:</strong>
    <%= @event.name %>
  </p>
</div>

<div class="well">
  <%= link_to 'Editar', edit_event_path(@event), :class =>"btn btn-default" %> |
  <%= link_to 'Volver', events_path, :class =>"btn btn-default"  %>
</div>
