<h1>
<i class="fa fa-indent"></i>
  Ordenes de Trabajo
  <a href="#/new" class="btn btn-default">Nueva OT</a>
</h1>
<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-2">
        <label for="">Codigo</label>
        <input ng-model="find.id" type="text" class="form-control">
      </div>
      <div class="col-md-2">
        <label for="">Cliente</label>
        <input type="text" class ="form-control" ng-model="find.rut">
      </div>
      <div class="col-md-2">
        <label for="">Medio</label>
        <select ng-model="find.medio" class="form-control" ng-options="p for p in medios"></select>
      </div>
      <div class="col-md-2">
        <label for="">Status</label>
        <select ng-model="find.status" class=" form-control" ng-options="p for p in statuses"></select>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Cliente</th>
          <th>Fecha ingreso</th>
          <th>Fecha de entrega</th>
          <th>Status</th>
          <th>Medio</th>
          <th>Observaciones</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody ng-repeat="p in orders | filter: find.id  | filter: find.rut">
         <tr>
           <th>{{p.id}}</th>
           <td>{{p.clientes.rut }} - {{p.clientes.first_name}} {{p.clientes.last_name}}</td>
           <td>{{p.created_at |   date:'dd-MM-yyyy'}}</td>
           <td>{{p.delivery|   date:'dd-MM-yyyy'}}</td>
           <td>{{p.status}}</td>
           <td>{{p.obs}}</td>
           <td>{{p.medio}}</td>
           <td>
             <a href="/orders#/print/{{p.id}}"class="btn btn-info btn-xs" >ver</a>
           </td>
         </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">

  </div>
</div>
