<h1>
<i class="fa fa-indent"></i>
  Nueva Orden de Trabajo
</h1>
<hr>

<div class="panel panel-default">
  <div class="panel-heading">Ingrese los siguientes datos</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <label for="">Cliente</label>
        <div class="input-group">
              <input class="form-control" type="text" ng-model="client.rut" ng-enter="client_enter()">
              <div class="input-group-btn">
                  <button class="btn btn-default" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-search"></i></button>
              </div>
          </div>
      </div>
      <div class="col-md-3">
        <label for="">Nombre</label>
        <input class="form-control" type="text" ng-model="client.first_name" readonly>
      </div>
      <div class="col-md-4">
        <label for="">Apellidos</label>
        <input class="form-control" type="text" ng-model="client.last_name" readonly>
      </div>
      <div class="col-md-3">
        <label for="">Direccion</label>
        <input class="form-control" type="text" ng-model="client.address" readonly>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label for="">Region</label>
        <input class="form-control" type="text" ng-model="client.region" readonly>
      </div>
      <div class="col-md-3">
        <label for="">Ciudad</label>
        <input class="form-control" type="text" ng-model="client.city" readonly>
      </div>
      <div class="col-md-2">
        <label for="">Codigo Postal</label>
        <input class="form-control" type="text" ng-model="client.postal_code" readonly>
      </div>
      <div class="col-md-2">
        <label for="">Medio</label>
        <select ng-model="medio" class="form-control" ng-options="p for p in medios"></select>
      </div>
      <div class="col-md-2">
        <label for="">Fecha de Entrega</label>
        <input type="date" class="form-control" ng-model="delivery">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label for="">Observaciones</label>
          <textarea class="form-control" rows="2" placeholder="Algun comentario?"></textarea>
        </div>
      </div>

    </div>
  </div>
</div>
<h3>Añadir Productos</h3>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
        <div ng-show="error_product" class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Campos Requeridos!</strong> Faltan campos por completar (*).
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label for="">Categoria*</label>
        <select ng-model="product.category" class="form-control" ng-options="p.name for p in categories"></select>
      </div>
      <div class="col-md-4">
        <label for="">Nombre del Producto*</label>
        <input type="text" class="form-control" ng-model="product.name">
      </div>
      <div class="col-md-2">
        <label for="">Dimensiones</label>
        <input type="text" class="form-control" ng-model="product.size">
      </div>
      <div class="col-md-2">
        <label for="">Peso KG</label>
        <input type="text" class="form-control" ng-model="product.weight">
      </div>
      <div class="col-md-2">
        <label for="">Cantidad*</label>
        <input type="text" class="form-control" ng-model="product.qty">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="">Observaciones</label>
          <textarea ng-model = "product.obs" class="form-control" rows="2" placeholder="Algun comentario?"></textarea>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="form-control btn btn-info"  ng-click="saveProduct()">Guardar Producto</button>

      </div>

    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Nombre del Producto</th>
          <th>Dimensiones</th>
          <th>Peso</th>
          <th>Cantidad</th>
          <th>Obs</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in products">
          <td>{{product.category.name}}</td>
          <td>{{product.name}}</td>
          <td>{{product.size}}</td>
          <td>{{product.weight}}</td>
          <td>{{product.qty}}</td>
          <td>{{product.obs}}</td>
          <td>
            <!-- <button ng-click="editProduct(product)" class="btn btn-warning btn-sm fa fa-pencil"></button>-->
            <button ng-click="deleteProduct(product)" class="btn btn-danger btn-sm fa fa-trash"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <div ng-show="error_ot" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Campos Requeridos!</strong> {{msg}}.
    </div>
    <button class="form-control btn btn-success"  ng-click="saveOT()">Guardar Orden de trabajo</button>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel panel-info">
          <div class="panel-heading">
            <input ng-model="find_client" type="text" class="form-control" placeholder="ingrese una busqueda de clientes...">
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Rut</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>Seleccionar</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="p in clients | filter: find_client">
                    <td>{{p.rut}}</td>
                    <td>{{p.first_name}}</td>
                    <td>{{p.last_name}}</td>
                    <td>
                      <button class="btn btn-info btn-sm"  data-dismiss="modal" ng-click="selectClient(p)">Seleccionar</button>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
