<h1>
<i class="fa fa-indent"></i>
  Orden de Trabajo Nº:{{ id }}
</h1>
<hr>

<div class="panel panel-default">
  <div class="panel-heading">Resumen de la Orden</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <h4>
          <span class="label label-primary">
              Fecha de Creacion:
          </span>
          <span class="label label-default">
           {{order.created_at |   date:'dd-MM-yyyy'}}
          <span>
        </h4>
      </div>
      <div class="col-md-6">
        <h4>
          <span class="label label-primary">
              Fecha de Entrega:
          </span>
          <span class="label label-default">
                {{order.delivery |   date:'dd-MM-yyyy'}}
          <span>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>
          <span class="label label-primary">
              Cliente:
          </span>
          <span class="label label-default">
              {{order.clientes.rut}}
          <span>
        </h4>
      </div>
      <div class="col-md-6">
        <h4>
          <span class="label label-primary">
              Nombre:
          </span>
          <span class="label label-default">
            {{order.clientes.first_name}} {{order.clientes.last_name}}
          <span>
        </h4>
      </div>
      <div class="col-md-6">
        <h4>
          <span class="label label-primary">
              Medio:
          </span>
          <span class="label label-default">
            {{order.medio}}
          <span>
        </h4>
      </div>
      <div class="col-md-6">
        <h4>
          <span class="label label-primary">
              Obs:
          </span>
          <span class="label label-default">
            {{order.obs}}
          <span>
        </h4>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Nombre del Producto</th>
          <th>Dimensiones</th>
          <th>Peso</th>
          <th>Cantidad</th>
          <th>Obs</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in order.details">
          <td>{{product.category.name}}</td>
          <td>{{product.name}}</td>
          <td>{{product.size}}</td>
          <td>{{product.weight}}</td>
          <td>{{product.qty}}</td>
          <td>{{product.obs}}</td>
        </tr>
      </tbody>
    </table>
    <button class="form-control btn btn-success"> Imprimir PDF </button>
  </div>
</div>
