<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nombre de la Categoria"%><br>
    <%= f.text_field :name,:class=> 'form-control' %>
  </div>
  <%= f.submit 'Guardar Categoria', :class => 'btn btn-success' %>
<% end %>

<br>
