<h1>
<i class="fa fa-diamond"></i>
Editar Categoria</h1>
<hr>
<%= render 'form' %>

<%= link_to 'Ver', @category, :class=> 'btn btn-default' %> |
<%= link_to 'Volver', categories_path , :class=> 'btn btn-default'%>
