<p id="notice"><%= notice %></p>

<div class="well">
  <p>
    <strong>Nombre de la Categoria:</strong>
    <%= @category.name %>
  </p>
</div>

<div class="well">
  <%= link_to 'Editar', edit_category_path(@category), :class=>"btn btn-default" %> |
  <%= link_to 'Volver', categories_path, :class=>"btn btn-default" %>
</div>
